li {
    list-style-type: none;
}

/*baidu css*/
.c-container em {
    font-style: normal;
    color: #c00;
}

.c-tools {
    display: inline;
}

.result,
.c-container {
    border-collapse: collapse;
    line-height: 1.54;
    word-break: break-word;
}
.c-container>.m{font-size: 12px;}

.c-abstract {
    word-break: break-all;
}

.c-span6 {
    width: 121px;
    float: left;
    margin-right: 17px;
    list-style: none;
}

.general_image_pic a {
    background: #fff no-repeat center center;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-align: left;
}

.c-img6 {
    width: 121px;
    height: 75px;
}

.c-gap-top-small {
    margin-top: 5px;
    min-height: 75px;
}

.c-border {
    width: 100%;
    padding: 9px;
    border: 1px solid #e3e3e3;
    border-bottom-color: #e0e0e0;
    border-right-color: #ececec;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .072);
    -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, .072);
    -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, .072);
    -o-box-shadow: 1px 2px 1px rgba(0, 0, 0, .072);
}

.c-row {
    
    overflow-x: auto;
}
.c-border .c-row {
    display: flex;
}

.op_jingyan_list_showmore,
.op_jingyan_list_hide {
    display: none;
}

.c-dropdown2 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    vertical-align: middle;
    outline: 0;
    _font-family: SimSun;
    background-color: #fff;
    word-wrap: normal;
    word-break: normal;
}

.op-vd-variety-sitecon {
    width: 104px;
    position: absolute;
    top: 6px;
    right: 5px;
    z-index: 100;
}

.c-tabs-nav {
    border-bottom: 1px solid #d9d9d9;
    background-color: #fafafa;
    line-height: 1.54;
    font-size: 0;
    *zoom: 1;
    _overflow-x: hidden;
    _position: relative;
}

div.op-img-address-divide-high,div.op-img-star-divide-high {
    height: 160px;
    display: flex;
    overflow-x: auto;
}

.favurl {
    background-repeat: no-repeat;
    background-position: 0 1px;
    padding-left: 20px;
}

.op_express_delivery_container {
    display: none;
}
.op_stockweakdemand_info ul{display: flex;}
/*baidu css*/

/*weixin css*/
.news-list2 em {
    color: #00a06a;
    font-style: normal;
}

.news-list2 a {
    color: #333;
}

.news-list2 li {
    padding: 10px 0 10px;
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    zoom: 1;
    list-style: none;
}

.news-list2 li .img-box {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 58px;
    height: 58px;
    border-radius: 30px;
    margin-bottom: 7px;
    overflow: hidden;
}

.news-list2 li .txt-box .tit {
    font-size: 18px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
}

.news-list2 li .ew-pop {
    position: absolute;
    right: 0;
    top: 24px;
}

.news-list2 li dt {
    float: left;
    color: #888;
}

.news-list2 li dd {
    overflow: hidden;
    zoom: 1;
    position: relative;
}

.news-list2 li dd span {
    position: absolute;
    right: 0;
    top: 0;
    color: #bbb;
}

.news-list2 li .ew-pop .pop {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0;
    position: absolute;
    left: -90px;
    top: 32px;
    -moz-box-shadow: 0 2px 5px #ddd;
    -webkit-box-shadow: 0 2px 5px #d9d9d9;
    box-shadow: 0 2px 5px #d9d9d9;
    border-radius: 2px;
    width: 126px;
    text-align: center;
    line-height: 32px;
    display: none;
    z-index: 1;
}

.news-list2 li .ew-pop:hover .pop {
    display: block;
}

.ew-pop .pop i {
    background: url(https://weixin.sogou.com/new/pc/images/ico_san.png) 0 -195px no-repeat;
    width: 12px;
    height: 7px;
    display: block;
    position: absolute;
    top: -7px;
    left: 95px;
}

.news-list2 li .ew-pop .pop .shot-img {
    position: absolute;
    top: 62px;
    left: 47px;
}
.news-list2 li .img-box img {
    border-radius: 30px;
    width: 58px;
    height: auto;
    margin-top: 0px;
}
.news-list2 li>dl:first-of-type{
    margin-top: 8px;
}
.news-list2 li>dl>dd>a{
    padding-right: 98px;
    display: block;
    line-height: 16px !important;
}
/*******************************/
.news-list em {
    color: #00a06a;
    font-style: normal;
}

.news-list li {
    padding: 16px 0;
    border-bottom: 1px solid #f2f2f2;
    zoom: 1;
    position: relative;
    overflow: hidden;
}

.news-list .txt-box {
    overflow: hidden;
    zoom: 1;
    line-height: 24px;
}

.news-list .txt-box h3 {
    font-size: 18px;
    font-weight: normal;
    overflow: hidden;
    /* white-space: nowrap;*/
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.news-list a {
    color: #333;
}

.news-list .txt-box .img-d {
    overflow: hidden;
    zoom: 1;
    margin-left: -20px;
    padding-top: 13px;
}

.news-list .txt-box .img-d a {
    width: 33.33%;
    float: left;
    overflow: hidden;
}

.news-list .txt-box .img-d a span {
    display: block;
    margin-left: 20px;
    height: 119px;
    overflow: hidden;
}

.news-list .txt-box .s-p {
    position: relative;
    line-height: 18px;
    height: 18px;
    margin-top: 11px;
}

.news-list .txt-box .s-p .s2 {
    color: #bbb;
    margin-left: 20px;
}

.news-list .txt-box .txt-info {
    color: #888;
    height: 48px;
    overflow: hidden;
    /*padding-top: 6px;*/
}

.news-list .img-box {
    position: relative;
    float: right;
    margin-left: 20px;
    width: 140px;
    height: 105px;
    overflow: hidden;
}


/*weixin css*/

/*google css*/
#rso .bNg8Rb {
    display: none;
}

.g {
    margin-top: 0;
    font-family: arial, sans-serif;
    font-size: small;
    line-height: 1.54;
}

.g em {
    color: #dd4b39;
    font-style: normal;
}

.rc {
    position: relative;
}

.r {
    line-height: 1.2;
    font-size: small;
}

.r .fl {
    margin-left: 12px;
}

.g a:link {
    color: #1a0dab;
}

.g a:visited {
    color: #609;
}

.g h3 {
    font-size: 18px;
    line-height: 1.33;
    display: inline-block;
}

.s {
    line-height: 1.54;
    color: #545454;
    max-width: 48em;
}

.st {
    line-height: 1.54;
    word-wrap: break-word;
}

.osl {
    color: #777;
}

.TbwUpd {
    display: inline-block;
}

.iUh30 {
    font-size: 14px;
    padding-top: 1px;
    line-height: 1.43;
    color: #006621;
}

.mn-dwn-arw {
    border-color: #777 transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    width: 0;
    height: 0;
    margin-left: -2px;
    top: 50%;
    margin-top: -2px;
    position: absolute;
}

.action-menu .mn-dwn-arw {
    border-color: #006621 transparent;
    margin-top: -4px;
    margin-left: 3px;
    left: 0;
}

.action-menu-panel {
    left: 0;
    padding: 0;
    right: auto;
    top: 12px;
    visibility: hidden;
    display: none;
}

.action-menu {
    display: inline;
    margin: 0 3px;
    position: relative;
    -webkit-user-select: none;
}

.ab_ctl.action-menu {
    margin-top: 1px;
    vertical-align: middle;
}

/*google视频*/
#rso .mR2gOd {
    display: block;
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#rso .BFJZOc {
    display: flex;
}

#rso .P94G9b {
    padding: 4px;
    width: 205px;
    position: relative;
    display: block;
}

.CNf3nf .PUDfGe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
}

.MAMEle {
    overflow: hidden;
    position: relative;
}

.OIL2le {
    background-color: rgba(0, 0, 0, .12);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.k8B8Pc {
    border-radius: 2px;
    font-size: 12px;
    padding: 2px 5px;
    position: absolute;
    bottom: 4px;
    color: #fff;
    font-weight: bold;
    right: 4px;
    background-color: rgba(0, 0, 0, .87);
}


.AX4s9b,
.kno-ibrg,
.DUU6i {
    display: none;
}

#rso svg {
    display: none;
}

#rso .nDgy9d {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.OiIFo {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgba(0,0,0,.62);
}
.oPhL2e {
    display: inline-block;
}
.qFiidc {
    font-size: 12px;
    color: rgba(0,0,0,.62);
}
#knowledge-finance-wholepage__entity-summary .cQv6re,#knowledge-finance-wholepage__entity-summary .ULCHyb{display: none;}
#knowledge-finance-wholepage__entity-summary .ZSM8k {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    vertical-align: top;
    width: 50%;
}
/*google css*/

/*bing*/
#b_results>.b_algo {
    padding: 15px 20px 0;
}
#b_results svg{display: none;}
#b_results h2,
#b_results h3 {
    font: 13px/1.2em 'Segoe UI', Arial, Helvetica, Sans-Serif;
    font: 13px/1.2em 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}

#b_results p {
    font: 13px/normal Arial, Helvetica, Sans-Serif;
    color: #666;
}

#b_results p strong {
    color: #9C27B0;
}

#b_results h2 {

    font-size: 20px;
    line-height: 24px;
}

#b_results>li a {
    color: #001ba0;
}

#b_results>li a:visited {
    color: #600090;
}

#b_results .b_attribution {
    color: #767676;
    line-height: 18px;
}

#b_results cite {
    word-wrap: break-word;
    color: #006d21;
}

#b_results .c_tlbxTrg {
    width: 15px;
    height: 14px;
    margin: -1px 6px -3px 2px;
}

#b_results .wr_tcc {
    float: right;
}

#b_results .b_algo .b_overhangR ul.wr_tcc.b_vList li {
    width: 132px;
}

#b_results a.cbtn {
    color: #666;
    background-color: #f5f5f5;
}

#b_results .b_algo .b_overhangR .b_vlist2col.b_deep ul:first-child {
    margin-right: 20px;
    width: 208px;
}

#b_results .b_algo .b_overhangR .b_vlist2col.b_deep ul:nth-child(2) {
    margin-right: 0;
    width: 208px;
    float: left;
    padding-left: 0;
}

#b_results .b_deep .b_snipwithnsl {
    height: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#b_results .b_vlist2col ul,
#b_results .b_gridList ul,
#b_results .b_float,
#b_results .b_footer,
#b_results .b_float_img,
#b_results .b_pag li,
#b_results .b_mhdr h2 {
    float: left;
}

#b_results .b_algo .b_deep h3 {
    font-size: 20px;
    padding-bottom: 3px;
    line-height: 1.2em;
}

#b_results .b_deep .b_snipwithnsl>.b_factrow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#b_results .b_algo .b_factrow {
    color: #666;
    height: 40px;
}

#b_results .b_deep p {
    height: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#b_results>li:after,
.b_clearfix:after,
.b_imagePair:after,
.b_vlist2col:after,
.b_gridList:after,
.b_overhangR:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.suggDD {
    position: relative;
    display: inline-block;
}

#b_results .suggDD .ctxt {
    padding: 0 11px;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    margin: 0;
}

#b_results .b_externalSearch.dlsbox .cbtn {
    margin: 0;
    float: right;
}

#b_results .b_externalSearch .cbtn input {
    padding: 0 15px;
    margin: 0;
}

#b_results .cbtn input {
    height: 32px;
    vertical-align: middle;
    -webkit-appearance: none;
    border-radius: 2px;
    border: 1px solid #ddd;
    min-width: 50px;
    max-width: 100%;
    line-height: 30px;
    padding: 0 15px;
    display: inline-block;
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}

#b_results .sb_hbop,
#b_results .b_hide,
#b_results .ttl,
#b_results #sw_tfbb,
#b_results .sw_next,
#b_results .sw_prev,
#b_results #id_d,
#b_results .b_hidden img {
    display: none;
}

#b_results .t-code {
    font: 13px Consolas;
    color: #404040;
}

#b_results .cCodeBg {
    font-family: Consolas, Courier New;
    background-color: #f7f7f7;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    color: #444;
}

#b_results .b_algo .b_vlist2col.b_deep li {
    padding: 0 0 12px;
}

#b_results .b_algo .b_deep h3 {
    padding-bottom: 3px;
    line-height: 1.2em;
}

#b_results .tab-container {
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

#b_results #tabcontrol_14_C3831E .tab-head {
    height: 40px;
}

#b_results .tab-head {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

#b_results .tab-menu ul {
    display: flex;
}

#b_results .tab-menu {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}

#b_results #tabcontrol_14_C3831E_menu>li {
    background-color: #f5f5f5;
    margin-right: 0px;
    height: 40px;
    line-height: 40px;
    font-weight: ;
    color: #666;
}

#b_results .b_vPanel>div,
.b_vList>li {
    padding-bottom: 10px;
}

#b_results .b_caption,
#b_results .b_snippet,
#b_results .b_attribution,
#b_results .b_factrow,
#b_results p,
#b_results .b_caption,
#b_results .b_snippet,
#b_results .b_attribution,
#b_results .b_factrow,
#b_results p,
#snct {
    line-height: 18px;
}

#b_results .b_factrow.b_twofr ul:first-child {
    max-width: calc(50% - 20px);
}

#b_results .b_gridList ul:first-child,
#b_results .b_vlist2col ul:first-child {
    margin: 0 20px 0 0;
}

#b_results .b_vlist2col ul,
#b_results .b_gridList ul,
.b_float,
#b_results .b_footer,
#b_results .b_float_img,
#b_results .b_pag li,
#b_results .b_mhdr h2 {
    float: left;
}

#b_results .b_factrow.b_twofr ul:first-child+ul {
    max-width: 50%;
}

#b_results .b_factrow.b_twofr ul li div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#b_results>.b_ans {
    padding: 12px 20px 0;
}

#b_results .b_rich {
    padding-top: 3px;
}

#b_results .irpserp {
    overflow-x: auto;
}

#b_results .irpserp.irpadt,
#b_results .irpserp .irp {
    position: relative;
    width: 100%;
    height: 105px;
}

#b_results .irpserp .irp a {
    position: absolute;
}

#b_results .irpserp .irp a img.sgt {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: static\0;
    transform: none\0;
}

#b_results .vidrc {
    overflow-x: auto;
    display: flex;
}

#b_results .vidrc .vidr {
    margin: 0 8px 8px 0;
}


#b_results .vidr {
    width: 195px;
    height: 168px;
    float: left;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 3px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
}

#b_results .vidr .vtv2 {
    border: 0 !important;
}

#b_results .vtv2 {
    border: 1px solid transparent;
    _border: 0;
    position: relative;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
#b_results .b_slidebar{
    display: flex;
    overflow-x: auto;
}
#b_results .b_factrow li {
    display: inline;
}
#b_results .b_deep ul{width: 46%;}
#b_results .fin_topHeader h2 {
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3em;
}
#b_results .actionmenu{display: none;}
#b_results .b_focusTextMedium {
    font-size: 40px;
}
#b_results #financeAnswer span.b_posText, .fin_card_thresh span.b_posText, span.b_posText, div.b_posText {
    fill: #006d21;
    color: #006d21;
}
#b_results #StockNews{display: none;}
#b_results .fin_graph{display: none;}
#b_results .fin_dtrow{display: flex;}
#b_results .b_vlist2col{display: flex;}
#b_results .b_externalSearch{display: none;}
/*bing*/